* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* scroll-behavior: smooth;  added js instead of this to learn more about JavaScript */
    transition: 0.1s;
}

body {
    background-color: rgb(31, 33, 33);
    /* background-color: #fff; */
    color: rgb(255, 255, 255);
}

html {
    height: 20vh;
}

.navbar {
    width: 100%;
    z-index: 999;
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgb(60, 59, 59);

}

.navcontent {
    width: 100%;
    display: flex;
    height: 5vh;
}

.navcontent ul {
    display: flex;
    width: 60%;
    margin: auto;
    list-style: none;
}

.navcontent li {
    margin: auto;
    font-weight: bold;
}

.navcontent a {
    color: white;
    text-decoration: none;
}

.navcontent li a:hover {
    text-decoration: underline rgb(255, 153, 0);
    border-radius: 5px;
}

.container {
    width: 100%;
    height: 55vh;
    background-color: rgb(50, 49, 49);
}

.img {
    border: 0.5px solid black;
    border: none;
    margin: auto;
    width: fit-content;
}

.img img {
    width: 30vh;
    border-radius: 50%;
    margin-top: 3vh;
    padding-left: 1vh;
}

.myname {
    margin-top: 20px;
    margin-left: 16px;
    width: 98%;
    font-size: 25px;
    text-align: center;
}

.myname h1 {
    text-align: center;
    text-decoration: underline rgb(255, 153, 0) 2.5px;
}

.myname h3 {
    margin: 2vh;
    text-decoration: underline rgb(255, 153, 0);
    ;
}

#cv {
    height: 4vh;
    width: 7.5vw;
    border: 1px solid white;
    background-color: rgb(50, 49, 49);
    font-weight: 800;
    border-radius: 20px;
    color: #fff;
}

#cv:hover {
    background-color: rgb(255, 145, 25);
    color: rgb(14, 14, 14);
    /* border: none; */
    transition: 1s;
}

@media only screen and (min-width:200px) and (max-width:767px) {
    body {
        width: 100%;
    }

    .myname {
        margin-top: 20px;
        margin-left: 16px;
        width: 98%;
        font-size: 15px;
        text-align: center;
    }

    .navcontent ul {
        display: flex;
        width: 80%;
        font-size: 10px;
        margin: auto;
        list-style: none;
    }

    .navbar {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    #x {
        display: flex;
        position: absolute;
        right: 1.5rem;
        top: 1.2rem;
        cursor: pointer;
    }
}

.mainSec {
    width: 100%;
    display: flex;
}

.bottoml {
    margin: 2vh auto;
    width: 50%;
    border-right: inset 0.1px;


}

.bottomr {
    border: 1px solid white;
    margin: 2vh auto;
    width: 35%;
    border: none;
}

.bottoml h2 {
    text-decoration: underline rgb(255, 153, 0);
    padding: 3px;
}

.bottoml p {
    padding: 10px;
    font-size: 1.9vh;
}

.wave {
    width: 100%;
    display: flex;
}

.wave img {
    margin: 1vh auto;
}

.bottomr h2 {
    text-decoration: underline rgb(255, 153, 0);
    padding: 3px;
}

/* .bottomr p {
}
*/

.middle {
    width: 100%;
    height: 100%;
    margin-top: 1.8vh;
    display: flex;
    justify-content: center;
    /* margin-left: 2.5vw; */
}

.contMid {
    width: 80%;
    border: 1px solid white;
    border: none;
    /* height: 30vh; */
    display: flex;
    /* margin-left: 7.6vw; */

}

.skills img {
    width: 45px;
    text-align: center;
}

.skills h1 {
    text-decoration: underline;
    text-align: center;
    /* color: white; */
}

.miniCont {
    /* border: 1px solid white; */
    height: 12vh;
    width: 12vw;
    margin: 2vw;
    border-radius: 20px;
    display: flex;
    padding: 1em;
}

.miniCont1 {
    height: 12vh;
    width: 12vw;
    margin: 2vw;
    border-radius: 20px;
    display: flex;
    /* padding: 1em; */
}

.tools img {
    width: 3vh;
    text-align: center;
}

.tools h1 {
    text-decoration: underline;
    text-align: center;
    /* color: white; */
    margin-left: 1vw;
}

.middle1 {
    width: 100%;
    display: flex;
}

.miniCont1 img {
    display: flex;
    justify-content: center;
}

.contMid1 {
    width: fit-content;
    border: 1px solid white;
    border: none;
    justify-content: center;
    display: flex;
    position: relative;
    /* left: 4rem; */
    margin: auto;
}

/* .miniCont:hover{
    color: ;
} */

.projects {
    border: 1px solid white;
    width: 100%;
    height: 55vh;
    border: none;
    display: flex;
}

.heading h1 {
    text-align: center;
    text-decoration: underline;
}

.p1 {
    border: 1px solid grey;
    width: 22vw;
    height: 40vh;
    margin: auto;
    margin-top: 50px;
    border: none;
}

.p1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p1 img:hover {
    filter: blur(0.8rem);
}

.text1 h2 {
    position: absolute;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(61, 60, 60);
    height: 28vh;
    /* color: white; */
}

.leftf {
    border: 1px solid white;
    height: 25vh;
    width: 25%;
    margin: auto;
    border: none;
}

.center {
    margin-top: 75px;
    color: white;
}

.rightf {
    border: 1px solid white;
    height: 25vh;
    width: 25%;
    margin: auto;
    border: none;
}

.leftf a {
    color: white;
    text-decoration: none;
}

.email:hover {
    color: rgb(255, 51, 0);
}

.call:hover {
    color: rgb(0, 204, 255);
}

.fa-linkedin-in:hover {
    color: rgb(0, 110, 255);
}

.fa-linkedin-in {
    font-size: 20px;
    position: absolute;
    margin-top: 3px;
    margin-left: 8px;
}

.mid {
    padding-left: 20px;
}

.leftf h3 {
    margin-left: 20px;
}

.mySide {
    display: none;
}

#nav-line {
    display: none;
}

#light-mode {
    cursor: pointer;
}

@media only screen and (min-width:200px) and (max-width:700px) {

    .myname {
        width: 100%;
        margin: auto;
        font-size: 13px;
    }

    .skills {
        margin: 10px;
    }

    .bottoml h2 {
        font-size: 22px;
        margin: auto;
        width: fit-content;
    }

    .bottoml {
        border: none;
        width: 100vw;
    }

    .bottomr {
        width: 100vw;
    }

    .bottomr h2 {
        font-size: 20px;
        text-align: center;
    }

    .bottomr p {
        font-size: 15px;
        margin: 4px;
        text-align: center;
    }

    .contMid {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        justify-content: center;
    }

    .contMid img {
        width: 32vw;
        height: 6em;
        display: flex;
        justify-content: center;
    }

    .contMid1 {
        flex-direction: column;
        /* align-items: center; */
        height: fit-content;
        width: 100%;
        justify-content: center;
    }

    .miniCont1 {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-self: center;
    }

    .tools {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    .projects {
        flex-direction: column;
    }

    .p1 {
        width: 30vh;
    }

    footer {
        margin-top: 35vh;
    }

    .left {
        width: 100%;
        height: 100%;
    }

    .leftf h3 {
        width: 70vw;
    }

    .leftf {
        width: 100vw;
    }

    .rightf {
        display: none;
    }

    .center {
        margin: 0;
        width: 30vw;
    }

    .miniCont {
        display: flex;
        justify-content: start;
        width: fit-content;
    }


    .mainSec {
        flex-direction: column;
    }

    .contMid1 img {
        height: 15vh;
    }

    .icons {
        width: 60%;
        display: inline-block;
    }

    .wave3 {
        display: none;
    }

    .icons span {
        color: rgb(234, 216, 216);
    }

    .center {
        color: rgb(234, 216, 216);
    }

    .icons i {
        color: rgb(234, 216, 216);
    }

    .icons a {
        text-decoration: none;
    }

    #cv {
        width: 30vw;
        font-size: 8px;
    }

    .certifications {
        display: flex;
        position: relative;
        top: 26vh;
        justify-content: center;
        /* width: 50%; */
    }

    .certifications-box {
        width: 100%;
        /* scale: 110%; */
        display: flex;
        justify-content: center;
        text-align: left;
    }

    #responsive-h4 {
        font-size: 0.6em;
        text-align: left;
        width: 100%;
        scale: 160%;
        margin-top: 5vh;
        cursor: pointer;
    }

    .certifications-box p {
        display: none;
    }

    .cat {
        margin-left: 3.7rem;
        bottom: 0.2em;
        display: inline-block;
    }

    /* nav-a-side */
    .mySide {
        height: 100%;
        display: flex;
        width: 0px;
        background-color: rgb(50, 49, 49);
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    .mySide ul{
        width: 60%;
    }

    .mySide li {
        padding: 3.5rem;
    }

    .mySide a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .mySide a:hover{
        text-decoration: underline orange;
    }

    .navcontent ul {
        display: none;
    }

    .navbar {
        z-index: inherit;
        position: static;
    }

    .light-mode #nav-collapse {
        color: white;
    }

    .light-mode #x {
        color: white;
    }

    #nav-line {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        padding-left: 0.1rem;
        cursor: pointer;
    }

    #nav-collapse{
        font-size: 1.3rem;
    }
}

/* updating portfolio with a new section of Certifications */

.certifications {
    display: flex;
    justify-content: center;
    margin: 3vh;
    /* width: 98%; */
}

.certifications-box {
    width: 55%;
    flex-wrap: wrap;
}

.certifications-box h1 {
    text-align: center;
    padding: 2vh;
    padding-top: 1vh;
    text-decoration: underline;
}

.certifications-box h4 {
    padding: 1.5vh;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    font-size: 1.2em;
    border: 1px solid rgb(78, 78, 78);

}

.certifications-box p {
    background-color: rgb(31, 33, 33);
    font-weight: 700;
}

.certifications-box p:hover {
    text-decoration: underline orange;
    cursor: pointer;
}

.cat {
    display: flex;
    position: relative;
    left: 3.5vw;
    bottom: 0.4vh;
    font-size: 1.2em;
}

/* Dark Mode */


.light-mode {
    font-size: 1.2rem;
    /* display: flex; */
    justify-content: space-around;
    cursor: pointer;
}

body.light-mode {
    background-color: rgb(255, 255, 255);
    color: black;
}

.light-mode .certifications-box p {
    background-color: white;
}

.light-mode .heading h1 {
    color: black;
}

.light-mode .myname h1 {
    text-decoration: underline black;
}

.light-mode .myname h3 {
    text-decoration: underline black;
}

.light-mode footer {
    background-color: rgb(248, 237, 218);
}

.light-mode footer h3 {
    color: black
}

.light-mode .leftf span {
    color: black;
}

.light-mode .leftf a {
    text-decoration: none;
}

.light-mode .leftf i {
    color: black;
}


.light-mode .container {
    background-color: rgb(255, 243, 243);
}

.light-mode .icons .cat {
    color: black;
}

.light-mode .navbar {
    background-color: rgb(248, 237, 218);
}

.light-mode .navbar a {
    color: rgb(22, 21, 21);
}

.light-mode .navcontent ul i {
    color: black;
}

#github {
    background-color: black;
    border-radius: 50%;
}

/* nav-bar for mobile  */